<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExpressTest</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <ul id="navBar" class="nav justify-content-end nav-pills">
    <li class="nav-item me-auto home">
      <a class="nav-link active" aria-current="page" href="/">回到首頁</a>
    </li>
    <li class="nav-item about">
      <a class="nav-link" href="about">About</a>
    </li>
    <li class="nav-item protfolio">
      <a class="nav-link" href="portfolio">Portfolio</a>
    </li>
    <li class="nav-item contact">
      <a class="nav-link" href="contact">Contact</a>
    </li>
  </ul>

  {{{body}}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>